.sass-cache/
.sbtserver/
.settings/
bin/
logs/
target/
vendor/
node_modules/
typings/

play-fork-run.sbt
sbt-ui.sbt
.idea
.sbtserver
.sbtserver.lock
.cache-main
.cache-tests
.classpath

.project

installed
RUNNING_PID